name: Deploy sf-home to the <inputs.environment_name> environment

on:
  workflow_call:
    inputs:
      slack_channel:
        description: Channel to notifify about a deployment
        type: string
        required: false
        default: ''
      environment_name:
        description: The GH environment holding information needed to deploy
        type: string
        required: true
      branch:
        description: The branch to checkout
        type: string
        required: false
        default: ${{ github.ref_name }}
      SF_DEVHUB_ALIAS:
        type: string
        required: false
      SF_DEVHUB_SCRATCH_ALIAS:
        type: string
        required: false
      SF_DEVHUB_USERNAME:
        type: string
        required: false
      SF_LOGIN_URL:
        type: string
        required: false
      SF_TESTLEVEL:
        type: string
        required: false
      SF_USERNAME:
        type: string
        required: false
    secrets:
      SF_CLIENT_ID:
        required: false
      SF_CLIENT_KEY:
        required: false
      SF_DEVHUB_CLIENT_ID:
        required: false
      SF_DEVHUB_CLIENT_KEY:
        required: false
      NPM_TOKEN:
        required: false

jobs:
  deploy:
    environment: ${{ inputs.environment_name }}
    runs-on: ubuntu-latest
    container: ghcr.io/guidion-digital/salesforce-ant:0.0.2
    env:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SF_CLIENT_ID: ${{ secrets.SF_CLIENT_ID || '' }}
      SF_CLIENT_KEY: ${{ secrets.SF_CLIENT_KEY || '' }}
      SF_DEVHUB_CLIENT_ID: ${{ secrets.SF_DEVHUB_CLIENT_ID || '' }}
      SF_DEVHUB_CLIENT_KEY: ${{ secrets.SF_DEVHUB_CLIENT_KEY || '' }}
      SF_DEVHUB_ALIAS: ${{ inputs.SF_DEVHUB_ALIAS || '' }}
      SF_DEVHUB_SCRATCH_ALIAS: ${{ inputs.SF_DEVHUB_SCRATCH_ALIAS || '' }}
      SF_DEVHUB_USERNAME: ${{ inputs.SF_DEVHUB_USERNAME || '' }}
      SF_LOGIN_URL: ${{ inputs.SF_LOGIN_URL }}
      SF_TESTLEVEL: ${{ inputs.SF_TESTLEVEL || '' }}
      SF_USERNAME: ${{ inputs.SF_USERNAME }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          ref: ${{ inputs.branch }}
      - name: Start Deploy
        run: ant deployCode
      - name: Notify devs
        if: ${{ inputs.slack_channel != '' }}
        uses: guidion-digital/slack-notifications@v1
        with:
          slack_channel: team-tectonic
          slack_token: ${{ secrets.SLACK_TOKEN }}
          workflow_status: ${{ job.status }}
