# The job calling this workflow requires the following permissions:
#
#  - contents: write
#  - actions: write
#  - attestations: write


name: Deploy a Salesforce package

on:
  workflow_call:
    inputs:
      environment_name:
        description: GH environment holding information needed to deploy
        type: string
        required: true
      SF_DEVHUB_ALIAS:
        type: string
        required: false
      SF_DEVHUB_SCRATCH_ALIAS:
        type: string
        required: false
      SF_DEVHUB_USERNAME:
        type: string
        required: false
      SF_LOGIN_URL:
        type: string
        required: false
      SF_TESTLEVEL:
        type: string
        required: false
      SF_USERNAME:
        type: string
        required: false
      SLACK_CHANNEL:
        description: Channel to notifify about a deployment 
        type: string
        required: false
        default: "team-tectonic"
    secrets:
      SF_CLIENT_ID:
        required: false
      SF_CLIENT_KEY:
        required: false
      SF_DEVHUB_CLIENT_ID:
        required: false
      SF_DEVHUB_CLIENT_KEY:
        required: false
      SF_PASSWORD:
        required: true
      NPM_TOKEN:
        required: false

jobs:
  deploy:
    environment: ${{ inputs.environment_name }}
    runs-on: ubuntu-latest
    env:
      SF_DEVHUB_ALIAS: ${{ inputs.SF_DEVHUB_ALIAS }}
      SF_DEVHUB_SCRATCH_ALIAS: ${{ inputs.SF_DEVHUB_SCRATCH_ALIAS }}
      SF_DEVHUB_USERNAME: ${{ inputs.SF_DEVHUB_USERNAME }}
      SF_LOGIN_URL: ${{ inputs.SF_LOGIN_URL }}
      SF_TESTLEVEL: ${{ inputs.SF_TESTLEVEL }}
      SF_USERNAME: ${{ inputs.SF_USERNAME }}
      SLACK_CHANNEL: ${{ inputs.SLACK_CHANNEL }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      SF_CLIENT_ID: ${{ secrets.SF_CLIENT_ID }}
      SF_CLIENT_KEY: ${{ secrets.SF_CLIENT_KEY }}
      SF_DEVHUB_CLIENT_ID: ${{ secrets.SF_DEVHUB_CLIENT_ID }}
      SF_DEVHUB_CLIENT_KEY: ${{ secrets.SF_DEVHUB_CLIENT_KEY }}
      SF_PASSWORD: ${{ secrets.SF_PASSWORD }}
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
      - name: Cache node modules
        id: cache-nodemodules
        uses: actions/cache@v4.2.0
        env:
          cache-name: cache-node-modules
        with:
          path: node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - if: ${{ steps.cache-nodemodules.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list
      - name: Install dependencies
        run: |
            echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc
            npm install
      - name: Deploy package
        timeout-minutes: 180
        run: npx semantic-release -e @gdn/semantic-release-sfdx-config
