name: Deploy to acc environment

on:
  workflow_call:

jobs:
  deploy:
    uses: guidion-digital/sf-workflows/.github/workflows/sf_deployer.yaml@v1
    with:
      environment_name: acc
      source_dir: force-app
      sf_login_url: ${{ vars.SF_LOGIN_URL_ACC }}
      sf_username: ${{ vars.SF_USERNAME_ACC }}
      sf_client_id: ${{ vars.SF_CLIENT_ID_ACC }}
    secrets:
      SF_CLIENT_KEY: ${{ secrets.SF_CLIENT_KEY_ACC }}
      SLACK_TOKEN: ${{ secrets.SLACK_TOKEN }}

  # NOTE: Cache flush is now handled by deployment_poller.yaml after async deployment completes
