name: Deploy package to dev environment

on:
    workflow_call:
        
jobs:
    deploy:
        permissions:
            contents: write
        uses: guidion-digital/sf-workflows/.github/workflows/deploy_package.yaml@v0
        with:
            environment_name: dev
            SF_DEVHUB_ALIAS: ${{ vars.SF_DEVHUB_ALIAS_DEV }}
            SF_DEVHUB_SCRATCH_ALIAS: ${{ vars.SF_DEVHUB_SCRATCH_ALIAS_DEV }}
            SF_DEVHUB_USERNAME: ${{ vars.SF_DEVHUB_USERNAME_DEV }}
            SF_LOGIN_URL: ${{ vars.SF_LOGIN_URL_DEV }}
            SF_TESTLEVEL: ${{ vars.SF_TESTLEVEL_DEV }}
            SF_USERNAME: ${{ vars.SF_USERNAME_DEV }}
            SLACK_CHANNEL: ${{ vars.SLACK_CHANNEL }}
        secrets:
            SF_CLIENT_ID: ${{ secrets.SF_CLIENT_ID_DEV }}
            SF_CLIENT_KEY: ${{ secrets.SF_CLIENT_KEY_DEV }}
            SF_DEVHUB_CLIENT_ID: ${{ secrets.SF_DEVHUB_CLIENT_ID_DEV }}
            SF_DEVHUB_CLIENT_KEY: ${{ secrets.SF_DEVHUB_CLIENT_KEY_DEV }}
            SF_PASSWORD: ${{ secrets.SF_PASSWORD }}
            NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
